<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye from rottenmangoes, <%= @user.firstname %></h1>
    <p>
      I went ahead and deleted your profile, just so you know.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>